In [6]:
import pandas as pd
import numpy as np
import sys
sys.path.append("../src")
import train_model as tm

In [7]:
df = pd.read_csv("../data/raw/USA_Housing.csv")
df.head()

,Area Income,House Age,Number of Rooms,Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

In [8]:
X_features = ['Area Income', 'House Age', 'Number of Rooms', 'Area Population']
X = df[X_features]
y = df[["Price"]]

In [9]:
X_norm = tm.zscore_normalize_features(X)
X_norm.shape

(5000, 4)

In [10]:
initial_w = np.zeros((X.shape[1], 1))
initial_b = 0.
iterations = 1000
alpha = 1.0e-1
w, b, hist_ = tm.gradient_descent(X_norm, y, initial_w, initial_b, alpha, iterations)
# print(w)
# print(b)

Iteration    0: Cost 0    6.665263e+11
dtype: float64
Iteration  100: Cost 0    5.111496e+09
dtype: float64
Iteration  200: Cost 0    5.111496e+09
dtype: float64
Iteration  300: Cost 0    5.111496e+09
dtype: float64
Iteration  400: Cost 0    5.111496e+09
dtype: float64
Iteration  500: Cost 0    5.111496e+09
dtype: float64
Iteration  600: Cost 0    5.111496e+09
dtype: float64
Iteration  700: Cost 0    5.111496e+09
dtype: float64
Iteration  800: Cost 0    5.111496e+09
dtype: float64
Iteration  900: Cost 0    5.111496e+09
dtype: float64