In [6]:
import pandas as pd
import numpy as np
import copy
import math
import sys
sys.path.append("../src")
import train_model as tm
import process_data as process

In [7]:
df = process.load_data('../data/raw/advertising.csv')
df.head()

   Daily Time Spent on Site  Age  Area Income  Daily Internet Usage                          Ad Topic Line            City  Male     Country            Timestamp  Clicked on Ad
0                    68.950   35   61,833.900               256.090     Cloned 5thgeneration orchestration     Wrightburgh     0     Tunisia  2016-03-27 00:53:11              0
1                    80.230   31   68,441.850               193.770     Monitored national standardization       West Jodi     1       Nauru  2016-04-04 01:39:02              0
2                    69.470   26   59,785.940               236.500       Organic bottom-line service-desk        Davidton     0  San Marino  2016-03-13 20:35:42              0
3                    74.150   29   54,806.180               245.890  Triple-buffered reciprocal time-frame  West Terrifurt     1       Italy  2016-01-10 02:31:19              0
4                    68.370   35   73,889.990               225.580          Robust logistical utilization    South Manuel     0     Iceland  2016-06-03 03:36:18              0

In [8]:
X_features = ['Age', 'Area Income', 'Daily Internet Usage']
X = df[X_features]
y = df[['Clicked on Ad']]
X_norm = process.zscore_normalize_features(X)[0]

In [9]:
initial_w = np.zeros((X.shape[1], 1))
initial_b = 0.
iterations = 10000
alpha = 1.0e-2
w, b, hist = tm.gradient_descent(X_norm, y, initial_w, initial_b, alpha, iterations)
print(w)
print(b)

Iteration    0: Cost 0.6904324041649579
Iteration 1000: Cost 0.2443197616732907
Iteration 2000: Cost 0.21504030267115307
Iteration 3000: Cost 0.20571570453789176
Iteration 4000: Cost 0.20156505738247374
Iteration 5000: Cost 0.1994138964099666
Iteration 6000: Cost 0.19819691589009317
Iteration 7000: Cost 0.19746826389671254
Iteration 8000: Cost 0.1970145103657297
Iteration 9000: Cost 0.19672378490191583
                          0
Age                   1.177
Area Income          -1.252
Daily Internet Usage -2.783
0   0.527
dtype: float64